// Import Google fonts

@font-face {
  font-family: "Helvetica Neue";
  src: url("HelveticaNeueLTStd86HeavyItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue Light Oblique";
  src: url("HelveticaNeueLTStd53ExtendedOblique.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("HelveticaNeueLTStd53Extended.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Helvetica Neue", "sans-serif";
$headers-secondary: "Helvetica Neue Light Oblique", "sans-serif";
$font-heavy: "Helvetica Neue Light", "sans-serif";

// To use a font file (.woff) uncomment following lines

$my-font: "Font Name";
