// Specific CSS for your home-page
@media screen and (min-width: 700px) {
  .not-mobile {
    margin-top: 20%;
    display: block;
    height: 100vh;
    font-size: 100px;
    font-family: $font-heavy;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .not-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: block;
  }
}
