<%# landing page %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7959927/pexels-photo-7959927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container text-center text-white">
    <h1 class="mb-4">Welcome to Pass-D!</h1>
    <p class="mb-4">Break free from financial constraints and uncover the joy of new sport</p>
    <%= link_to "Enter now", home_path, class:"btn btn-flat" %>
  </div>
</div>
