<%# landing page %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7959927/pexels-photo-7959927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container text-center text-white">
    <h1 class="mb-4">Welcome to Pass-D!</h1>
    <p class="mb-4">Break free from financial constraints and uncover the joy of new sport</p>
    <%# <%= link_to "Enter now", home_path, class:"btn btn-flat" %>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: home_path, method: :get, class: "d-flex search-bar-welcome px-3 mt-5" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-query",
              placeholder: "Discover your new favorite sport"
          %>
        <%= submit_tag "Search", name: "", class:"custom-btn-submit" %>
      <% end %>
    </div>
  </div>


  </div>
</div>
