.btn-reservation {
  border-radius: 40px;
  background: var(--vert-fluo, #a2ffa0);
}

.btn-logout {
  background: var(--heavy, #3e3434);
  border-radius: 40px;
  color: #a2ffa0;
}

.btn-link {
  color: $sombre;
  text-decoration: underline;
}
