.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-card {
  background-size: cover;
  background-position: center;
  background-color: $gris-fonce;
  // border: 1px solid $sombre;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $sombre;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 4px 4px 20px 0px rgba(62, 52, 52, 0.05);

  img {
    border: 1px solid $sombre;
    border-radius: 5px;
  }

  .title {
    font-family: $font-heavy;
    padding-right: 20px;
    line-height: 1.2rem;
  }

  .price-container {
    width: 80px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid $sombre;
  }

  .price {
    font-size: 22px;
    font-family: $headers-font;
  }

  .p-discret {
    font-family: $headers-secondary;
    font-size: 18px;
  }
}

.highlight-green-2 {
  background-color: $green;
  width: calc(100% + 16px);
  position: absolute;
  height: 10px;
  top: 12px;
  left: -8px;
}

.highlight-green-transparent-2 {
  background-color: $green-faded;
  width: calc(100% + 16px);
  position: absolute;
  height: 10px;
  top: 12px;
  left: -8px;
}
