.form-template {
  background-color: $gris-fonce;
  padding: 15px;

  label {
    text-transform: uppercase;
  }

  textarea,
  label,
  input {
    font-family: $font-heavy;
    color: $sombre;
  }

  textarea,
  input {
    border: none;
    border-bottom: 2px solid $sombre;
    color: $sombre-faded;
  }

  .custom-btn-submit {
    box-shadow: 4px 4px 20px 0px rgba(62, 52, 52, 0.05);
    margin: 20px auto;
    padding: 8px 25px;
    color: $sombre;
    font-size: 24px;
    border: 2px solid $green;
    font-family: $headers-font;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;

    &:hover {
      background-color: $green;
      transition: 0.3s;
    }
  }
}
