.header,
h1 {
  font-size: 30px;
  margin-bottom: 3rem;
  color: $sombre;
  position: relative;
}

.header-secondary,
h2 {
  font-family: $headers-secondary;
  font-size: 20px;
  margin-bottom: 2.2rem;
  color: $sombre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.highlight-green {
  background-color: $green;
  width: calc(100% + 16px);
  position: absolute;
  height: 18px;
  top: 18px;
  left: -8px;
}

.highlight-green-transparent {
  background-color: $green-faded;
  width: calc(100% + 16px);
  position: absolute;
  height: 18px;
  top: 18px;
  left: -8px;
}

.fit-content {
  width: fit-content;
  position: relative;
}
