.header,
h1 {
  font-size: 30px;
  margin-bottom: 3rem;
  color: $sombre;
}

.header-secondary,
h2 {
  font-family: $headers-secondary;
  font-size: 20px;
  margin-bottom: 2.2rem;
  color: $sombre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
