.navbar-lewagon {
  justify-content: space-between;
  background: $green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.my-nav {
  background-color: $blue-dark;
  align-items: center;
}
