.navbar-lewagon {
  justify-content: space-between;
  background: $green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.my-nav {
  z-index: 3;
  background-color: $gris-clair;
  align-items: center;
  width: 100%;
}

.btn-navbar {
  border: none;
}

.style-nav-link {
  color: $sombre;
  border-top: 1px solid $sombre;
  font-family: $headers-secondary;
}
