.price-circle {
  width: 40px;
  height: 40px;
  padding: 12%;
  border-radius: 50%;
  font-family: $headers-secondary;
  font-size: 22px;
  background-color: $green;
  color: $sombre;
  display: flex;
  align-items: center;
  justify-content: center; /* Pour centrer horizontalement */
}
