.price-circle {
  width: 40px;
  height: 40px;
  padding: 12%;
  border-radius: 50%;
  font-family: $headers-secondary;
  font-size: 22px;
  background-color: $green;
  color: $sombre;
  display: flex;
  align-items: center;
  justify-content: center; /* Pour centrer horizontalement */
}

.price-date {
  text-align: center;
  font-size: 22px;
  z-index: 1;
  position: relative;
  font-family: $font-heavy;
}

.logo {
  color: $green;
  text-shadow: 3px 3px 0 $sombre, -1px -1px 0 $sombre, 1px -1px 0 $sombre,
    -1px 1px 0 $sombre, 1px 1px 0 $sombre;
  font-size: 28px;
  font-family: $headers-font;
}
