<h2></h2>
<%= simple_form_for([@product, @booking], html: { class: 'form-horizontal' }) do |f| %>


   <%= f.input :starting_date,
              as: :string,
              # html5: true,
              input_html: { data: { controller: "datepicker" } } %>


  <%= f.input :ending_date,
              as: :string,
              html5: true,
              input_html: { data: { controller: "datepicker" } }%>

  <%=f.button :submit, class: 'btn btn-primary' %>

<% end %>
