<div class="container">
  <div class="row mx-3">
    <h1 class="header">Create a Pass-D</h1>
    <h2 class="header-secondary">Time to give a second life to your sports gears</h2>
    <%= render 'form_new_product' %>
  </div>
</div>
