<div class="container pt-5">
  <div class="row mx-3">
    <div>
      <% @newTitle = "Create a product" %>
      <%= render "layouts/header" %>
    <div>
    <h2 class="header-secondary">Time to give a second life to your sports gears</h2>
    <%= render 'form_new_product' %>
  </div>
</div>
