<div class="text-center">
  <div class="fit-content">
    <div class="highlight-green-transparent z-2" style="width: 180px; height: 18px; left: 33%; top: 120px;"></div>
    <h1 class="text-center header z-1">Hi <%=current_user.pseudo %></h1>
    <div class="highlight-green" style="width: 180px; height: 18px; left: 33%; top: 120px;"></div>
  </div>
</div>
