<div class="fit-content position-relative">
  <div class="highlight-green-transparent z-2"></div>
  <div class="highlight-green z-0"></div>
  <p class="text-center z-1 position-relative price"><%= @price %>€<span class="p-discret">/j</span></p>
</div>
